<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget" value="" />
    <add key="PondropInfrastructure" value="" />
  </packageSources>
	<packageSourceCredentials>
		<PondropInfrastructure>
			<add key="Username" value=""/>
			<add key="ClearTextPassword" value=""/>
		</PondropInfrastructure>
	</packageSourceCredentials>
</configuration>
